*{
	padding: 0;
	margin: 0;
}

#header{
	border: 1px solid blue;
	width: 600px;
	height: 410px;
}

#headerContainer{
	width: 550px;
	height: 300px;
	margin:0 auto;
}

#menu{
	margin-top: 5px;
	border:1px solid orange;
}

#menu p{
	margin-left: 200px;
	padding: 5px 0;
}

#float{
	width: 100%;

}
#sidebar{
	margin-top: 5px;
	height: 250px;
	border: 1px solid blue;
	background-color: #75a8f9;
	float: right;
	width: 30%;
	box-sizing: border-box;
}

#sidebar p{
	margin-left: 50px;
	padding: 100px 0;
}

#body{
	margin-top: 5px;
	margin-left: 0px;
	height: 250px;
	border: 1px solid blue;
	background-color: #3df4a8;
	float: left;
	width: 68%;
	box-sizing: border-box;
}

#body p{
	margin-left: 150px;
	padding: 120px 0;
}


footer{
	clear: left;
	border-top: 8px solid #fff;
	background-color:#d3d3d3;
	height: 100px;

}


footer ul{
	list-style: none;
	text-align: center;
}


footer li{
	display: inline;
}

footer a{
	color: #000;
	text-decoration: none;
	line-height: 90px;
	padding-right: 19px;
	color: blue;
}


